@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;

}

:root{ /*define algo padrao para o documento HTML*/
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    background-image: url(../img/moeda.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.conversor {
    padding: 30px 20px 45px 30px;
    width: 450px;
    height: 340px;
    text-align: center;
    color: aliceblue;
    border-radius: 30px;
    box-shadow: 0px 0px 20px  rgb(17, 17, 17);
    background-color: rgba(0, 0, 0, 0.884);
}
.opcao{
    width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10%;
}
#selecao {
    width: 200px;
    height: 40px;
    background-color: rgba(216, 216, 216, 0.795);
    outline: none;
    border-radius: 5px;
    padding-left: 1%;
    font-size: 1.5rem;
    font-family: var(--font-primary);
}

input {
    outline: none;
    height: 50px;
    width: 200px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    border: 0;
    border-radius: 10px;
    font-size: 1.5rem;
}
button {
    outline: none;
    margin-left: 30px;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: rgb(168, 8, 62);
    font-family: var(--font-action);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
button:hover {
    cursor: pointer;
    background-color: rgb(199, 14, 91);
}
h2 {
    color: white;
    text-align: center;
    font-family: var(--font-primary);
    font-weight: 100;
}
.resultado {
    width: 350px;
}
